@font-face {
  font-family: 'Righteous-Regular';
  src: url(./Righteous-Regular.eot);
  src: url(./Righteous-Regular.eot?#iefix) format('embedded-opentype'),
       url(./Righteous-Regular.otf) format('otf'),
       url(./Righteous-Regular.svg#Righteous-Regular) format('svg'),
       url(./Righteous-Regular.ttf) format('truetype'),
       url(./Righteous-Regular.woff) format('woff'),
       url(./Righteous-Regular.woff2) format('woff2');
}
