@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Righteous-Regular';
    src: url(../assets/fonts/righteous/Righteous-Regular.eot);
    src: url(../assets/fonts/righteous/Righteous-Regular.eot?#iefix) format('embedded-opentype'),
        url(../assets/fonts/righteous/Righteous-Regular.otf) format('otf'),
        url(../assets/fonts/righteous/Righteous-Regular.svg#Righteous-Regular) format('svg'),
        url(../assets/fonts/righteous/Righteous-Regular.ttf) format('truetype'),
        url(../assets/fonts/righteous/Righteous-Regular.woff) format('woff'),
        url(../assets/fonts/righteous/Righteous-Regular.woff2) format('woff2');
  }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
